.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 10px;
  font-size: 0.8rem;
}

.problems {
  display: flex;
  flex-direction: row;
  /* width: 25%; */
  height: 80vh;
  overflow-y: auto;
  flex-wrap: wrap;
}

.board-fragments {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
}

.fragment {
  border: 1px silver solid;
  margin: 5px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border: 1px solid silver;
  width: 90%;
}

li {
  margin: 3px;
}

button {
  border: 1px solid silver;
  border-radius: 3px;
  margin: 5px;
}

.problem-looking-for {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h4 {
  margin: 5px;
}